Lat :<input type="text" name="lat" value="47.218371" class="lat">
Long : <input type="text" name="long" value="-1.553621" class="long">
Message : <input type="text" name="long" value="La meilleure ville" class="message">
<input type="submit" name="" value="Chercher" class="bouton">
<div id="googleMap" style="width:100%;height:500px;"></div>
